#include "binarytree.h"

/**
 * This function will clear the nodes from a given tree's root and return
 * them to the heap.
 *
 * @author      Rafael Betita
 * @modified    05-16-2019
 **/
template <typename T>
void bt::BinaryTree<T>::ClearTree(BinaryTree<T>*& root) {
  BinaryTree<T>* child;
  if (root != NULL) {
      child = root->left();
      tree_clear(child);
      child = root->right();
      tree_clear(child);
      delete root;
      root = nullptr;
  }
}
